In [1]:
import pandas as pd
import numpy as np

# Opening dat files

# book history

In [2]:
book_history = pd.read_csv('book_history.dat', header=None, sep='\t', engine='python')

In [3]:
#renaming header
good_book_history=book_history.rename(columns={0:'user',1:'item',2:'accessed'})

In [4]:
# header is duplicated in a row 0, deleting this row
very_good_book_history=good_book_history.drop([0])
very_good_book_history.head()

  user  item accessed
1    1   152        1
2    1   153        1
3    1  2176        1
4    1   154        1
5    1   734        1

In [5]:
#converting column item (is string) to numbers
very_good_book_history.item = pd.to_numeric(very_good_book_history.item, errors='coerce')

In [6]:
#checking is. item colum is numeric
very_good_book_history.loc[very_good_book_history['item'] == 152]

        user  item accessed
1          1   152        1
84978    937   152        1
86981    959   152        1
90075   1003   152        1
110234  1188   152        1
135736  1490   152        1
206145  2245   152        1
207430  2258   152        1
239882  2569   152        1
260876  2820   152        1
267542  2883   152        1
270728  2922   152        1

# book ratings

In [7]:
book_ratings = pd.read_csv('book_ratings.dat', header=None, sep='\t', engine='python')

In [8]:
#renaming header
good_book_ratings=book_ratings.rename(columns={0:'user',1:'item',2:'rating'})

In [9]:
# header is duplicated in a row 0, deleting this row
very_good_book_ratings=good_book_ratings.drop([0])
very_good_book_ratings.head()

  user  item    rating
1    1  6264  7.000000
2    1  4350  7.000000
3    1  6252  5.000000
4    1   202  9.000000
5    1  6266  6.000000

# users info

In [10]:
users_info = pd.read_csv('users_info.dat', header=None, sep='\t', engine='python')

In [11]:
#renaming header
good_users_info=users_info.rename(columns={0:'location',1:'age',2:'smth'})

In [12]:
good_users_info.head()

                            location  age  smth
User-ID                     Location  Age   NaN
1        minneapolis, minnesota, usa   24   NaN
2         san diego, california, usa   20   NaN
3            novinger, missouri, usa   16   NaN
4            sonoma, california, usa   34   NaN

In [13]:
#header is duplicated in the 0 row. deliting this row
very_good_users_info=good_users_info.drop(['User-ID'])

In [14]:
#adding index column
very_good_users_info['User-ID'] = range(1, len(very_good_users_info) + 1)

In [15]:
very_good_users_info['smth'].unique()
# smth could be droped as it does not contain valuable valuye

array([nan])

In [16]:
#deleting "smth"  colunm
very_good_users_info.drop(['smth'], axis=1)

                          location age  User-ID
1      minneapolis, minnesota, usa  24        1
2       san diego, california, usa  20        2
3          novinger, missouri, usa  16        3
4          sonoma, california, usa  34        4
5        berkeley, california, usa  23        5
...                            ...  ..      ...
2942  east orange, new jersey, usa  56     2942
2943       san antonio, texas, usa  27     2943
2944         storm lake, iowa, usa  48     2944
2945    lake george, new york, usa  34     2945
2946  pismo beach, california, usa  28     2946

[2946 rows x 3 columns]

In [17]:
#investigating age column
very_good_users_info['age'].value_counts()

29     124
32     117
33     115
28     114
30     110
      ...
81       1
76       1
2        1
204      1
148      1
Name: age, Length: 87, dtype: int64

In [18]:
#min age is 1 y.o.
very_good_users_info['age'].min()

'1'

In [20]:
very_good_users_info['age'].max()

'90'

In [21]:
very_good_users_info['age'].astype(float).mean()

36.214528173794974

# items info

In [22]:
#loosing 6% of info
items_info = pd.read_csv('items_info.dat', header=None, sep='\t', engine='python', error_bad_lines=False)

Skipping line 3: Expected 10 fields in line 3, saw 11
Skipping line 7: Expected 10 fields in line 7, saw 11
Skipping line 14: Expected 10 fields in line 14, saw 11
Skipping line 43: Expected 10 fields in line 43, saw 11
Skipping line 44: Expected 10 fields in line 44, saw 11
Skipping line 64: Expected 10 fields in line 64, saw 11
Skipping line 79: Expected 10 fields in line 79, saw 11
Skipping line 106: Expected 10 fields in line 106, saw 11
Skipping line 139: Expected 10 fields in line 139, saw 11
Skipping line 171: Expected 10 fields in line 171, saw 11
Skipping line 222: Expected 10 fields in line 222, saw 11
Skipping line 237: Expected 10 fields in line 237, saw 11
Skipping line 269: Expected 10 fields in line 269, saw 11
Skipping line 272: Expected 10 fields in line 272, saw 11
Skipping line 283: Expected 10 fields in line 283, saw 11
Skipping line 291: Expected 10 fields in line 291, saw 11
Skipping line 334: Expected 10 fields in line 334, saw 11
Skipping line 340: Expected 10 fields in line 340, saw 11
Skipping line 381: Expected 10 fields in line 381, saw 11
Skipping line 420: Expected 10 fields in line 420, saw 11
Skipping line 421: Expected 10 fields in line 421, saw 11
Skipping line 422: Expected 10 fields in line 422, saw 11
Skipping line 424: Expected 10 fields in line 424, saw 11
Skipping line 441: Expected 10 fields in line 441, saw 11
Skipping line 495: Expected 10 fields in line 495, saw 11
Skipping line 506: Expected 10 fields in line 506, saw 11
Skipping line 583: Expected 10 fields in line 583, saw 11
Skipping line 597: Expected 10 fields in line 597, saw 11
Skipping line 603: Expected 10 fields in line 603, saw 11
Skipping line 611: Expected 10 fields in line 611, saw 11
Skipping line 623: Expected 10 fields in line 623, saw 11
Skipping line 625: Expected 10 fields in line 625, saw 11
Skipping line 657: Expected 10 fields in line 657, saw 11
Skipping line 669: Expected 10 fields in line 669, saw 11
Skipping line 684: Expected 10 fields in line 684, saw 11
Skipping line 687: Expected 10 fields in line 687, saw 11
Skipping line 758: Expected 10 fields in line 758, saw 11
Skipping line 811: Expected 10 fields in line 811, saw 11
Skipping line 833: Expected 10 fields in line 833, saw 11
Skipping line 874: Expected 10 fields in line 874, saw 11
Skipping line 875: Expected 10 fields in line 875, saw 11
Skipping line 885: Expected 10 fields in line 885, saw 11
Skipping line 899: Expected 10 fields in line 899, saw 11
Skipping line 905: Expected 10 fields in line 905, saw 11
Skipping line 911: Expected 10 fields in line 911, saw 11
Skipping line 931: Expected 10 fields in line 931, saw 11
Skipping line 967: Expected 10 fields in line 967, saw 11
Skipping line 971: Expected 10 fields in line 971, saw 11
Skipping line 987: Expected 10 fields in line 987, saw 11
Skipping line 989: Expected 10 fields in line 989, saw 11
Skipping line 1019: Expected 10 fields in line 1019, saw 11
Skipping line 1044: Expected 10 fields in line 1044, saw 11
Skipping line 1047: Expected 10 fields in line 1047, saw 11
Skipping line 1079: Expected 10 fields in line 1079, saw 11
Skipping line 1081: Expected 10 fields in line 1081, saw 11
Skipping line 1091: Expected 10 fields in line 1091, saw 11
Skipping line 1098: Expected 10 fields in line 1098, saw 11
Skipping line 1100: Expected 10 fields in line 1100, saw 11
Skipping line 1106: Expected 10 fields in line 1106, saw 11
Skipping line 1129: Expected 10 fields in line 1129, saw 11
Skipping line 1139: Expected 10 fields in line 1139, saw 11
Skipping line 1201: Expected 10 fields in line 1201, saw 11
Skipping line 1216: Expected 10 fields in line 1216, saw 11
Skipping line 1247: Expected 10 fields in line 1247, saw 11
Skipping line 1252: Expected 10 fields in line 1252, saw 11
Skipping line 1255: Expected 10 fields in line 1255, saw 11
Skipping line 1293: Expected 10 fields in line 1293, saw 11
Skipping line 1300: Expected 10 fields in line 1300, saw 11
Skipping line 1301: Expected 10 fields in line 1301, saw 11
Skipping line 1312: Expected 10 fields in line 1312, saw 11
Skipping line 1532: Expected 10 fields in line 1532, saw 11
Skipping line 1545: Expected 10 fields in line 1545, saw 12
Skipping line 1554: Expected 10 fields in line 1554, saw 11
Skipping line 1565: Expected 10 fields in line 1565, saw 11
Skipping line 1571: Expected 10 fields in line 1571, saw 11
Skipping line 1593: Expected 10 fields in line 1593, saw 11
Skipping line 1604: Expected 10 fields in line 1604, saw 11
Skipping line 1610: Expected 10 fields in line 1610, saw 11
Skipping line 1624: Expected 10 fields in line 1624, saw 11
Skipping line 1635: Expected 10 fields in line 1635, saw 11
Skipping line 1643: Expected 10 fields in line 1643, saw 11
Skipping line 1644: Expected 10 fields in line 1644, saw 11
Skipping line 1730: Expected 10 fields in line 1730, saw 11
Skipping line 1734: Expected 10 fields in line 1734, saw 11
Skipping line 1747: Expected 10 fields in line 1747, saw 11
Skipping line 1753: Expected 10 fields in line 1753, saw 11
Skipping line 1758: Expected 10 fields in line 1758, saw 11
Skipping line 1766: Expected 10 fields in line 1766, saw 13
Skipping line 1768: Expected 10 fields in line 1768, saw 11
Skipping line 1778: Expected 10 fields in line 1778, saw 11
Skipping line 1788: Expected 10 fields in line 1788, saw 11
Skipping line 1791: Expected 10 fields in line 1791, saw 11
Skipping line 1843: Expected 10 fields in line 1843, saw 11
Skipping line 1868: Expected 10 fields in line 1868, saw 11
Skipping line 1880: Expected 10 fields in line 1880, saw 11
Skipping line 1885: Expected 10 fields in line 1885, saw 11
Skipping line 1969: Expected 10 fields in line 1969, saw 12
Skipping line 2012: Expected 10 fields in line 2012, saw 11
Skipping line 2086: Expected 10 fields in line 2086, saw 11
Skipping line 2093: Expected 10 fields in line 2093, saw 11
Skipping line 2108: Expected 10 fields in line 2108, saw 11
Skipping line 2117: Expected 10 fields in line 2117, saw 11
Skipping line 2123: Expected 10 fields in line 2123, saw 11
Skipping line 2127: Expected 10 fields in line 2127, saw 11
Skipping line 2151: Expected 10 fields in line 2151, saw 11
Skipping line 2170: Expected 10 fields in line 2170, saw 11
Skipping line 2171: Expected 10 fields in line 2171, saw 11
Skipping line 2177: Expected 10 fields in line 2177, saw 11
Skipping line 2208: Expected 10 fields in line 2208, saw 11
Skipping line 2211: Expected 10 fields in line 2211, saw 11
Skipping line 2221: Expected 10 fields in line 2221, saw 11
Skipping line 2232: Expected 10 fields in line 2232, saw 11
Skipping line 2235: Expected 10 fields in line 2235, saw 11
Skipping line 2284: Expected 10 fields in line 2284, saw 11
Skipping line 2297: Expected 10 fields in line 2297, saw 11
Skipping line 2343: Expected 10 fields in line 2343, saw 11
Skipping line 2383: Expected 10 fields in line 2383, saw 11
Skipping line 2402: Expected 10 fields in line 2402, saw 11
Skipping line 2407: Expected 10 fields in line 2407, saw 11
Skipping line 2412: Expected 10 fields in line 2412, saw 11
Skipping line 2414: Expected 10 fields in line 2414, saw 11
Skipping line 2425: Expected 10 fields in line 2425, saw 11
Skipping line 2436: Expected 10 fields in line 2436, saw 11
Skipping line 2437: Expected 10 fields in line 2437, saw 12
Skipping line 2438: Expected 10 fields in line 2438, saw 11
Skipping line 2454: Expected 10 fields in line 2454, saw 11
Skipping line 2457: Expected 10 fields in line 2457, saw 11
Skipping line 2484: Expected 10 fields in line 2484, saw 11
Skipping line 2485: Expected 10 fields in line 2485, saw 11
Skipping line 2487: Expected 10 fields in line 2487, saw 11
Skipping line 2498: Expected 10 fields in line 2498, saw 11
Skipping line 2511: Expected 10 fields in line 2511, saw 11
Skipping line 2518: Expected 10 fields in line 2518, saw 11
Skipping line 2525: Expected 10 fields in line 2525, saw 11
Skipping line 2562: Expected 10 fields in line 2562, saw 11
Skipping line 2570: Expected 10 fields in line 2570, saw 11
Skipping line 2583: Expected 10 fields in line 2583, saw 11
Skipping line 2618: Expected 10 fields in line 2618, saw 11
Skipping line 2623: Expected 10 fields in line 2623, saw 11
Skipping line 2671: Expected 10 fields in line 2671, saw 11
Skipping line 2717: Expected 10 fields in line 2717, saw 11
Skipping line 2755: Expected 10 fields in line 2755, saw 11
Skipping line 2756: Expected 10 fields in line 2756, saw 11
Skipping line 2766: Expected 10 fields in line 2766, saw 11
Skipping line 2771: Expected 10 fields in line 2771, saw 12
Skipping line 2779: Expected 10 fields in line 2779, saw 11
Skipping line 2853: Expected 10 fields in line 2853, saw 11
Skipping line 2906: Expected 10 fields in line 2906, saw 11
Skipping line 2997: Expected 10 fields in line 2997, saw 11
Skipping line 3005: Expected 10 fields in line 3005, saw 11
Skipping line 3048: Expected 10 fields in line 3048, saw 11
Skipping line 3049: Expected 10 fields in line 3049, saw 11
Skipping line 3081: Expected 10 fields in line 3081, saw 11
Skipping line 3103: Expected 10 fields in line 3103, saw 11
Skipping line 3117: Expected 10 fields in line 3117, saw 11
Skipping line 3146: Expected 10 fields in line 3146, saw 11
Skipping line 3159: Expected 10 fields in line 3159, saw 11
Skipping line 3175: Expected 10 fields in line 3175, saw 11
Skipping line 3203: Expected 10 fields in line 3203, saw 11
Skipping line 3206: Expected 10 fields in line 3206, saw 11
Skipping line 3208: Expected 10 fields in line 3208, saw 11
Skipping line 3211: Expected 10 fields in line 3211, saw 11
Skipping line 3223: Expected 10 fields in line 3223, saw 11
Skipping line 3276: Expected 10 fields in line 3276, saw 11
Skipping line 3295: Expected 10 fields in line 3295, saw 11
Skipping line 3323: Expected 10 fields in line 3323, saw 11
Skipping line 3336: Expected 10 fields in line 3336, saw 11
Skipping line 3354: Expected 10 fields in line 3354, saw 11
Skipping line 3363: Expected 10 fields in line 3363, saw 11
Skipping line 3364: Expected 10 fields in line 3364, saw 11
Skipping line 3384: Expected 10 fields in line 3384, saw 11
Skipping line 3394: Expected 10 fields in line 3394, saw 11
Skipping line 3417: Expected 10 fields in line 3417, saw 11
Skipping line 3432: Expected 10 fields in line 3432, saw 11
Skipping line 3468: Expected 10 fields in line 3468, saw 11
Skipping line 3516: Expected 10 fields in line 3516, saw 11
Skipping line 3522: Expected 10 fields in line 3522, saw 11
Skipping line 3537: Expected 10 fields in line 3537, saw 11
Skipping line 3544: Expected 10 fields in line 3544, saw 11
Skipping line 3545: Expected 10 fields in line 3545, saw 11
Skipping line 3562: Expected 10 fields in line 3562, saw 11
Skipping line 3699: Expected 10 fields in line 3699, saw 11
Skipping line 3700: Expected 10 fields in line 3700, saw 12
Skipping line 3715: Expected 10 fields in line 3715, saw 11
Skipping line 3741: Expected 10 fields in line 3741, saw 11
Skipping line 3751: Expected 10 fields in line 3751, saw 11
Skipping line 3757: Expected 10 fields in line 3757, saw 11
Skipping line 3760: Expected 10 fields in line 3760, saw 11
Skipping line 3802: Expected 10 fields in line 3802, saw 11
Skipping line 3860: Expected 10 fields in line 3860, saw 11
Skipping line 3869: Expected 10 fields in line 3869, saw 11
Skipping line 3878: Expected 10 fields in line 3878, saw 11
Skipping line 3907: Expected 10 fields in line 3907, saw 11
Skipping line 3910: Expected 10 fields in line 3910, saw 11
Skipping line 3919: Expected 10 fields in line 3919, saw 11
Skipping line 3996: Expected 10 fields in line 3996, saw 11
Skipping line 4019: Expected 10 fields in line 4019, saw 11
Skipping line 4028: Expected 10 fields in line 4028, saw 11
Skipping line 4053: Expected 10 fields in line 4053, saw 11
Skipping line 4131: Expected 10 fields in line 4131, saw 11
Skipping line 4144: Expected 10 fields in line 4144, saw 11
Skipping line 4161: Expected 10 fields in line 4161, saw 11
Skipping line 4173: Expected 10 fields in line 4173, saw 11
Skipping line 4179: Expected 10 fields in line 4179, saw 11
Skipping line 4185: Expected 10 fields in line 4185, saw 11
Skipping line 4189: Expected 10 fields in line 4189, saw 11
Skipping line 4207: Expected 10 fields in line 4207, saw 11
Skipping line 4210: Expected 10 fields in line 4210, saw 11
Skipping line 4230: Expected 10 fields in line 4230, saw 11
Skipping line 4246: Expected 10 fields in line 4246, saw 11
Skipping line 4251: Expected 10 fields in line 4251, saw 12
Skipping line 4252: Expected 10 fields in line 4252, saw 11
Skipping line 4262: Expected 10 fields in line 4262, saw 11
Skipping line 4270: Expected 10 fields in line 4270, saw 11
Skipping line 4309: Expected 10 fields in line 4309, saw 11
Skipping line 4410: Expected 10 fields in line 4410, saw 11
Skipping line 4423: Expected 10 fields in line 4423, saw 13
Skipping line 4454: Expected 10 fields in line 4454, saw 11
Skipping line 4460: Expected 10 fields in line 4460, saw 11
Skipping line 4512: Expected 10 fields in line 4512, saw 11
Skipping line 4522: Expected 10 fields in line 4522, saw 11
Skipping line 4537: Expected 10 fields in line 4537, saw 11
Skipping line 4597: Expected 10 fields in line 4597, saw 11
Skipping line 4655: Expected 10 fields in line 4655, saw 11
Skipping line 4684: Expected 10 fields in line 4684, saw 11
Skipping line 4687: Expected 10 fields in line 4687, saw 11
Skipping line 4690: Expected 10 fields in line 4690, saw 11
Skipping line 4707: Expected 10 fields in line 4707, saw 11
Skipping line 4722: Expected 10 fields in line 4722, saw 11
Skipping line 4739: Expected 10 fields in line 4739, saw 11
Skipping line 4740: Expected 10 fields in line 4740, saw 11
Skipping line 4745: Expected 10 fields in line 4745, saw 11
Skipping line 4751: Expected 10 fields in line 4751, saw 11
Skipping line 4783: Expected 10 fields in line 4783, saw 11
Skipping line 4824: Expected 10 fields in line 4824, saw 12
Skipping line 4855: Expected 10 fields in line 4855, saw 11
Skipping line 4860: Expected 10 fields in line 4860, saw 11
Skipping line 4887: Expected 10 fields in line 4887, saw 11
Skipping line 4888: Expected 10 fields in line 4888, saw 11
Skipping line 4894: Expected 10 fields in line 4894, saw 11
Skipping line 4913: Expected 10 fields in line 4913, saw 11
Skipping line 5000: Expected 10 fields in line 5000, saw 11
Skipping line 5045: Expected 10 fields in line 5045, saw 11
Skipping line 5052: Expected 10 fields in line 5052, saw 11
Skipping line 5075: Expected 10 fields in line 5075, saw 11
Skipping line 5092: Expected 10 fields in line 5092, saw 11
Skipping line 5100: Expected 10 fields in line 5100, saw 11
Skipping line 5105: Expected 10 fields in line 5105, saw 11
Skipping line 5111: Expected 10 fields in line 5111, saw 11
Skipping line 5124: Expected 10 fields in line 5124, saw 11
Skipping line 5136: Expected 10 fields in line 5136, saw 11
Skipping line 5150: Expected 10 fields in line 5150, saw 11
Skipping line 5175: Expected 10 fields in line 5175, saw 11
Skipping line 5185: Expected 10 fields in line 5185, saw 11
Skipping line 5194: Expected 10 fields in line 5194, saw 11
Skipping line 5212: Expected 10 fields in line 5212, saw 11
Skipping line 5218: Expected 10 fields in line 5218, saw 11
Skipping line 5271: Expected 10 fields in line 5271, saw 11
Skipping line 5288: Expected 10 fields in line 5288, saw 11
Skipping line 5297: Expected 10 fields in line 5297, saw 11
Skipping line 5301: Expected 10 fields in line 5301, saw 11
Skipping line 5332: Expected 10 fields in line 5332, saw 11
Skipping line 5373: Expected 10 fields in line 5373, saw 11
Skipping line 5406: Expected 10 fields in line 5406, saw 11
Skipping line 5437: Expected 10 fields in line 5437, saw 11
Skipping line 5455: Expected 10 fields in line 5455, saw 11
Skipping line 5489: Expected 10 fields in line 5489, saw 11
Skipping line 5493: Expected 10 fields in line 5493, saw 11
Skipping line 5503: Expected 10 fields in line 5503, saw 11
Skipping line 5507: Expected 10 fields in line 5507, saw 11
Skipping line 5520: Expected 10 fields in line 5520, saw 11
Skipping line 5528: Expected 10 fields in line 5528, saw 12
Skipping line 5556: Expected 10 fields in line 5556, saw 11
Skipping line 5576: Expected 10 fields in line 5576, saw 11
Skipping line 5578: Expected 10 fields in line 5578, saw 11
Skipping line 5583: Expected 10 fields in line 5583, saw 11
Skipping line 5586: Expected 10 fields in line 5586, saw 11
Skipping line 5596: Expected 10 fields in line 5596, saw 11
Skipping line 5609: Expected 10 fields in line 5609, saw 11
Skipping line 5617: Expected 10 fields in line 5617, saw 11
Skipping line 5621: Expected 10 fields in line 5621, saw 11
Skipping line 5628: Expected 10 fields in line 5628, saw 11
Skipping line 5638: Expected 10 fields in line 5638, saw 11
Skipping line 5676: Expected 10 fields in line 5676, saw 11
Skipping line 5723: Expected 10 fields in line 5723, saw 11
Skipping line 5737: Expected 10 fields in line 5737, saw 11
Skipping line 5757: Expected 10 fields in line 5757, saw 11
Skipping line 5776: Expected 10 fields in line 5776, saw 11
Skipping line 5778: Expected 10 fields in line 5778, saw 11
Skipping line 5789: Expected 10 fields in line 5789, saw 11
Skipping line 5807: Expected 10 fields in line 5807, saw 11
Skipping line 5815: Expected 10 fields in line 5815, saw 11
Skipping line 5837: Expected 10 fields in line 5837, saw 11
Skipping line 5845: Expected 10 fields in line 5845, saw 11
Skipping line 5885: Expected 10 fields in line 5885, saw 11
Skipping line 5886: Expected 10 fields in line 5886, saw 11
Skipping line 5923: Expected 10 fields in line 5923, saw 11
Skipping line 6006: Expected 10 fields in line 6006, saw 11
Skipping line 6011: Expected 10 fields in line 6011, saw 11
Skipping line 6026: Expected 10 fields in line 6026, saw 11
Skipping line 6042: Expected 10 fields in line 6042, saw 11
Skipping line 6084: Expected 10 fields in line 6084, saw 11
Skipping line 6086: Expected 10 fields in line 6086, saw 11
Skipping line 6093: Expected 10 fields in line 6093, saw 11
Skipping line 6127: Expected 10 fields in line 6127, saw 11
Skipping line 6128: Expected 10 fields in line 6128, saw 11
Skipping line 6129: Expected 10 fields in line 6129, saw 11
Skipping line 6134: Expected 10 fields in line 6134, saw 11
Skipping line 6137: Expected 10 fields in line 6137, saw 11
Skipping line 6141: Expected 10 fields in line 6141, saw 11
Skipping line 6151: Expected 10 fields in line 6151, saw 11
Skipping line 6172: Expected 10 fields in line 6172, saw 11
Skipping line 6186: Expected 10 fields in line 6186, saw 14
Skipping line 6191: Expected 10 fields in line 6191, saw 11
Skipping line 6202: Expected 10 fields in line 6202, saw 11
Skipping line 6206: Expected 10 fields in line 6206, saw 11
Skipping line 6256: Expected 10 fields in line 6256, saw 11
Skipping line 6471: Expected 10 fields in line 6471, saw 11
Skipping line 6511: Expected 10 fields in line 6511, saw 11
Skipping line 6514: Expected 10 fields in line 6514, saw 11
Skipping line 6544: Expected 10 fields in line 6544, saw 11
Skipping line 6554: Expected 10 fields in line 6554, saw 11
Skipping line 6576: Expected 10 fields in line 6576, saw 11
Skipping line 6589: Expected 10 fields in line 6589, saw 11
Skipping line 6594: Expected 10 fields in line 6594, saw 11
Skipping line 6595: Expected 10 fields in line 6595, saw 11
Skipping line 6612: Expected 10 fields in line 6612, saw 11
Skipping line 6618: Expected 10 fields in line 6618, saw 11
Skipping line 6647: Expected 10 fields in line 6647, saw 11
Skipping line 6655: Expected 10 fields in line 6655, saw 11
Skipping line 6657: Expected 10 fields in line 6657, saw 11
Skipping line 6662: Expected 10 fields in line 6662, saw 11
Skipping line 6672: Expected 10 fields in line 6672, saw 11
Skipping line 6687: Expected 10 fields in line 6687, saw 11
Skipping line 6703: Expected 10 fields in line 6703, saw 11

In [23]:
# example of error appered while opening file
# error Expected 10 fields in line 3, saw 11

In [24]:
items_info.head()

,0,1,2,3,4,5,6,7,8
Book_ID,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L,NaN
1,0060973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...,NaN
3,0425176428,What If?: The World's Foremost Military Histor...,Robert Cowley,2000,Berkley Publishing Group,http://images.amazon.com/images/P/0425176428.0...,http://images.amazon.com/images/P/0425176428.0...,http://images.amazon.com/images/P/0425176428.0...,NaN
4,0452264464,Beloved (Plume Contemporary Fiction),Toni Morrison,1994,Plume,http://images.amazon.com/images/P/0452264464.0...,http://images.amazon.com/images/P/0452264464.0...,http://images.amazon.com/images/P/0452264464.0...,NaN
5,0609804618,Our Dumb Century: The Onion Presents 100 Years...,The Onion,1999,Three Rivers Press,http://images.amazon.com/images/P/0609804618.0...,http://images.amazon.com/images/P/0609804618.0...,http://images.amazon.com/images/P/0609804618.0...,NaN

In [25]:
new_header_items_info = items_info.iloc[0]

In [26]:
new_header_items_info.head()

0                   ISBN
1             Book-Title
2            Book-Author
3    Year-Of-Publication
4              Publisher
Name: Book_ID, dtype: object

In [27]:
items_info = items_info[1:]

In [28]:
items_info.columns = new_header_items_info

In [29]:
items_info.head()

Book_ID,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L,NaN
1,0060973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...,NaN
3,0425176428,What If?: The World's Foremost Military Histor...,Robert Cowley,2000,Berkley Publishing Group,http://images.amazon.com/images/P/0425176428.0...,http://images.amazon.com/images/P/0425176428.0...,http://images.amazon.com/images/P/0425176428.0...,NaN
4,0452264464,Beloved (Plume Contemporary Fiction),Toni Morrison,1994,Plume,http://images.amazon.com/images/P/0452264464.0...,http://images.amazon.com/images/P/0452264464.0...,http://images.amazon.com/images/P/0452264464.0...,NaN
5,0609804618,Our Dumb Century: The Onion Presents 100 Years...,The Onion,1999,Three Rivers Press,http://images.amazon.com/images/P/0609804618.0...,http://images.amazon.com/images/P/0609804618.0...,http://images.amazon.com/images/P/0609804618.0...,NaN
7,1879384493,If I'd Known Then What I Know Now: Why Not Lea...,J. R. Parrish,2003,Cypress House,http://images.amazon.com/images/P/1879384493.0...,http://images.amazon.com/images/P/1879384493.0...,http://images.amazon.com/images/P/1879384493.0...,NaN

In [30]:
items_info.columns

Index([               'ISBN',          'Book-Title',         'Book-Author',
       'Year-Of-Publication',           'Publisher',         'Image-URL-S',
               'Image-URL-M',         'Image-URL-L',                   nan],
      dtype='object', name='Book_ID')

In [31]:
items_info['book_id'] = range(1, len(items_info) + 1)

In [32]:
items_info.head()

Book_ID,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L,NaN,book_id
1,0060973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...,NaN,1
3,0425176428,What If?: The World's Foremost Military Histor...,Robert Cowley,2000,Berkley Publishing Group,http://images.amazon.com/images/P/0425176428.0...,http://images.amazon.com/images/P/0425176428.0...,http://images.amazon.com/images/P/0425176428.0...,NaN,2
4,0452264464,Beloved (Plume Contemporary Fiction),Toni Morrison,1994,Plume,http://images.amazon.com/images/P/0452264464.0...,http://images.amazon.com/images/P/0452264464.0...,http://images.amazon.com/images/P/0452264464.0...,NaN,3
5,0609804618,Our Dumb Century: The Onion Presents 100 Years...,The Onion,1999,Three Rivers Press,http://images.amazon.com/images/P/0609804618.0...,http://images.amazon.com/images/P/0609804618.0...,http://images.amazon.com/images/P/0609804618.0...,NaN,4
7,1879384493,If I'd Known Then What I Know Now: Why Not Lea...,J. R. Parrish,2003,Cypress House,http://images.amazon.com/images/P/1879384493.0...,http://images.amazon.com/images/P/1879384493.0...,http://images.amazon.com/images/P/1879384493.0...,NaN,5

In [97]:
very_good_items_info['index'].isnull().values.any()

False

In [98]:
very_good_items_info.loc[very_good_items_info['index'] == '152']

,index,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L,smth
143,152,0060199563,Thief of Time,Terry Pratchett,2001,HarperCollins Publishers,http://images.amazon.com/images/P/0060199563.0...,http://images.amazon.com/images/P/0060199563.0...,http://images.amazon.com/images/P/0060199563.0...,NaN

In [99]:
very_good_items_info.index = pd.to_numeric(very_good_items_info.index, errors='coerce')

In [100]:
very_good_items_info.loc[very_good_items_info['index'] == 152]

Empty DataFrame
Columns: [index, ISBN, Book-Title, Book-Author, Year-Of-Publication, Publisher, Image-URL-S, Image-URL-M, Image-URL-L, smth]
Index: []

In [101]:
very_good_items_info.index = pd.to_numeric(very_good_items_info.index, errors='coerce').fillna(0).astype(np.int64)

In [102]:
very_good_items_info.loc[very_good_items_info['index'] == 152]

Empty DataFrame
Columns: [index, ISBN, Book-Title, Book-Author, Year-Of-Publication, Publisher, Image-URL-S, Image-URL-M, Image-URL-L, smth]
Index: []

In [103]:
very_good_items_info=very_good_items_info.index.astype(int)

# Looking for keys 
very_good_book_history - user
very_good_book_ratings - user
very_good_items_info - index (book id)

# Joing data frames

In [34]:
#joing data frames
history_and_rating=very_good_book_history.merge(very_good_book_ratings, left_on='user', right_on='user')

In [35]:
history_and_rating.head()

  user  item_x accessed item_y    rating
0    1     152        1   6264  7.000000
1    1     152        1   4350  7.000000
2    1     152        1   6252  5.000000
3    1     152        1    202  9.000000
4    1     152        1   6266  6.000000

In [36]:
history_and_rating['user'].value_counts()
#there are 1295 users

1614    1250712
1003    1206660
154      705663
2155     415681
965      371130
         ...
780         420
797         420
322         400
1419        400
1349        400
Name: user, Length: 1295, dtype: int64

In [37]:
history_and_rating['item_x'].value_counts()
# there 17154 books

8        21864
228      21166
407      17063
594      14500
281      13016
         ...
9341        20
15544       20
15546       20
9085        20
224         20
Name: item_x, Length: 17154, dtype: int64

In [39]:
history_rating_userinfo=history_and_rating.merge(very_good_users_info, left_on='item_x', right_on='User-ID')

In [40]:
history_rating_userinfo.head()

,user,item_x,accessed,item_y,rating,location,age,smth,User-ID
0,1,152,1,6264,7.000000,"little rock, arkansas, usa",42,NaN,152
1,1,152,1,4350,7.000000,"little rock, arkansas, usa",42,NaN,152
2,1,152,1,6252,5.000000,"little rock, arkansas, usa",42,NaN,152
3,1,152,1,202,9.000000,"little rock, arkansas, usa",42,NaN,152
4,1,152,1,6266,6.000000,"little rock, arkansas, usa",42,NaN,152

In [42]:
history_rating_userinfo_iteminfo=history_rating_userinfo.merge(items_info, left_on='item_x', right_on='book_id')

In [43]:
history_rating_userinfo_iteminfo.head()

,user,item_x,accessed,item_y,rating,location,age,smth,User-ID,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L,NaN,book_id
0,1,152,1,6264,7.000000,"little rock, arkansas, usa",42,NaN,152,0380973839,Martian Chronicles,Ray Bradbury,1997,William Morrow,http://images.amazon.com/images/P/0380973839.0...,http://images.amazon.com/images/P/0380973839.0...,http://images.amazon.com/images/P/0380973839.0...,NaN,152
1,1,152,1,4350,7.000000,"little rock, arkansas, usa",42,NaN,152,0380973839,Martian Chronicles,Ray Bradbury,1997,William Morrow,http://images.amazon.com/images/P/0380973839.0...,http://images.amazon.com/images/P/0380973839.0...,http://images.amazon.com/images/P/0380973839.0...,NaN,152
2,1,152,1,6252,5.000000,"little rock, arkansas, usa",42,NaN,152,0380973839,Martian Chronicles,Ray Bradbury,1997,William Morrow,http://images.amazon.com/images/P/0380973839.0...,http://images.amazon.com/images/P/0380973839.0...,http://images.amazon.com/images/P/0380973839.0...,NaN,152
3,1,152,1,202,9.000000,"little rock, arkansas, usa",42,NaN,152,0380973839,Martian Chronicles,Ray Bradbury,1997,William Morrow,http://images.amazon.com/images/P/0380973839.0...,http://images.amazon.com/images/P/0380973839.0...,http://images.amazon.com/images/P/0380973839.0...,NaN,152
4,1,152,1,6266,6.000000,"little rock, arkansas, usa",42,NaN,152,0380973839,Martian Chronicles,Ray Bradbury,1997,William Morrow,http://images.amazon.com/images/P/0380973839.0...,http://images.amazon.com/images/P/0380973839.0...,http://images.amazon.com/images/P/0380973839.0...,NaN,152

In [44]:
history_rating_userinfo_iteminfo['item_x'].max()

2946

In [46]:
books_data=history_rating_userinfo_iteminfo.drop(columns=['item_x', 'smth','item_y','user'])

In [47]:
books_data.head()

,accessed,rating,location,age,User-ID,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L,NaN,book_id
0,1,7.000000,"little rock, arkansas, usa",42,152,0380973839,Martian Chronicles,Ray Bradbury,1997,William Morrow,http://images.amazon.com/images/P/0380973839.0...,http://images.amazon.com/images/P/0380973839.0...,http://images.amazon.com/images/P/0380973839.0...,NaN,152
1,1,7.000000,"little rock, arkansas, usa",42,152,0380973839,Martian Chronicles,Ray Bradbury,1997,William Morrow,http://images.amazon.com/images/P/0380973839.0...,http://images.amazon.com/images/P/0380973839.0...,http://images.amazon.com/images/P/0380973839.0...,NaN,152
2,1,5.000000,"little rock, arkansas, usa",42,152,0380973839,Martian Chronicles,Ray Bradbury,1997,William Morrow,http://images.amazon.com/images/P/0380973839.0...,http://images.amazon.com/images/P/0380973839.0...,http://images.amazon.com/images/P/0380973839.0...,NaN,152
3,1,9.000000,"little rock, arkansas, usa",42,152,0380973839,Martian Chronicles,Ray Bradbury,1997,William Morrow,http://images.amazon.com/images/P/0380973839.0...,http://images.amazon.com/images/P/0380973839.0...,http://images.amazon.com/images/P/0380973839.0...,NaN,152
4,1,6.000000,"little rock, arkansas, usa",42,152,0380973839,Martian Chronicles,Ray Bradbury,1997,William Morrow,http://images.amazon.com/images/P/0380973839.0...,http://images.amazon.com/images/P/0380973839.0...,http://images.amazon.com/images/P/0380973839.0...,NaN,152

In [50]:
books_data =books_data[['User-ID', 'age', 'location','accessed', 'book_id', 'Book-Title', 'Book-Author', 'Year-Of-Publication', 'Publisher', 'ISBN', 'Image-URL-S', 'Image-URL-M', 'Image-URL-L']]

In [51]:
books_data.head()

,User-ID,age,location,accessed,book_id,Book-Title,Book-Author,Year-Of-Publication,Publisher,ISBN,Image-URL-S,Image-URL-M,Image-URL-L
0,152,42,"little rock, arkansas, usa",1,152,Martian Chronicles,Ray Bradbury,1997,William Morrow,0380973839,http://images.amazon.com/images/P/0380973839.0...,http://images.amazon.com/images/P/0380973839.0...,http://images.amazon.com/images/P/0380973839.0...
1,152,42,"little rock, arkansas, usa",1,152,Martian Chronicles,Ray Bradbury,1997,William Morrow,0380973839,http://images.amazon.com/images/P/0380973839.0...,http://images.amazon.com/images/P/0380973839.0...,http://images.amazon.com/images/P/0380973839.0...
2,152,42,"little rock, arkansas, usa",1,152,Martian Chronicles,Ray Bradbury,1997,William Morrow,0380973839,http://images.amazon.com/images/P/0380973839.0...,http://images.amazon.com/images/P/0380973839.0...,http://images.amazon.com/images/P/0380973839.0...
3,152,42,"little rock, arkansas, usa",1,152,Martian Chronicles,Ray Bradbury,1997,William Morrow,0380973839,http://images.amazon.com/images/P/0380973839.0...,http://images.amazon.com/images/P/0380973839.0...,http://images.amazon.com/images/P/0380973839.0...
4,152,42,"little rock, arkansas, usa",1,152,Martian Chronicles,Ray Bradbury,1997,William Morrow,0380973839,http://images.amazon.com/images/P/0380973839.0...,http://images.amazon.com/images/P/0380973839.0...,http://images.amazon.com/images/P/0380973839.0...

In [55]:
#saving merged data
books_data.to_csv('books_data.csv')